.custContainer {
  width: 75%;
  margin: 5px auto;
}

.custBorder {
  border: 2px solid black;
}

.pointer {
  cursor: pointer;
}

.customImage {
  width: 100%;
}

/* .background {
  height: 100vh;
  background-image: url("../images/449742-PGISQA-388.jpg");
}
 */
